@media only screen and (max-width: 1000px)  {
    .institucion {
        font-size: .75rem!IMPORTANT;
    }
    h3 .editar {
        font-size: 0.75rem!IMPORTANT;
    }
    
    h3 .borrar {
        margin-left: 0.15em!IMPORTANT;
        font-size: 0.75rem!IMPORTANT;
    }
    .fecha {
        font-size: .75rem!IMPORTANT;
    }
    .elemento_educacion {
        margin-bottom: 1em!IMPORTANT;
    }
    .elemento_educacion img {
        width: 45px!IMPORTANT;
        height: 45px!IMPORTANT;
        margin: 0 .5em!IMPORTANT;
    }
    .elemento_educacion::after {
        width: 10px!IMPORTANT;
        height: 10px!IMPORTANT;
        left: -6px!IMPORTANT;
    }
}
.elemento_educacion {
    display: flex;
    position: relative;
    margin-bottom: 2em;
}

.elemento_educacion::after {
    content: " ";
    width: 20px;
    height: 20px;
    background-color: #d1d1d1;
    position: absolute;
    top: 0;
    left: -11px;
    border-radius: 100%;
}

.elemento_educacion img {
    width: 90px;
    height: 90px;
    margin: 0 1em;
}

.elemento_educacion .texto h3 i {
    font-family: 'Mulish', sans-serif;
    font-size: 1.35rem;
}


h3 .editar {
    margin-left: 0.5em;
    font-size: 1.5rem;
    color: green;
    cursor: pointer;
}

h3 .borrar {
    margin-left: 0.25em;
    font-size: 1.5rem;
    color: red;
    cursor: pointer;
}