<form 
    *ngIf="showFormExperience" [formGroup]="form"
>
    <i class='bx bx-x cerrar' (click)="onClose()"></i>
    <h1>{{experience.id != null ? 'Editar' : 'Agregar'}} Experiencia</h1> 
    <div class="form-control">
        <label for="titulo">Titulo de Experienca</label>
        <input 
            type="text" 
            name="titulo" 
            placeholder="Agregar titulo"
            formControlName="titulo"
        >
        <div *ngIf="Titulo?.errors && Titulo?.touched" class="error">
            <p *ngIf="Titulo?.hasError('required')">
                El titulo es requerido
            </p>
        </div>
    </div>
    <div class="form-control">
        <ng-container formGroupName="empresa">
            <label for="nombre">Empresa trabajada</label>
            <input 
                type="text"  
                name="nombre" 
                placeholder="Agregar nombre"
                formControlName="nombre"  
            >
            <div *ngIf="Empresa?.errors && Empresa?.touched" class="error">
                <p *ngIf="Empresa?.hasError('required')">
                    La empresa es requerida
                </p>
            </div>
        </ng-container>
    </div>
    <div class="form-control">
        <label for="aprendizaje">Aprendizajes</label>
        <div class="aprendizajes">
            <input 
                type="text" 
                name="aprendizaje" 
                id="aprendizaje"
                placeholder="Agregar aprendizaje"
                formControlName="aprendizaje"
                (keydown.enter)="onAddAprendizaje()"
            >
            <button>
                <i class='bx bx-plus agregar_lenguaje' (click)="onAddAprendizaje()"></i>
            </button>
        </div>
        <ul class="aprendizajes_elegidos">
            <li *ngFor="let aprendizaje of aprendizajes">{{aprendizaje.parrafo.slice(0,9) + "..."}} <i class='bx bx-x' (click)="onDeleteAprendizaje(aprendizaje.parrafo)"></i></li> 
        </ul>
    </div>
    <div class="form-control periodo">
        <h3>Periodo de aprendizaje</h3>
        <div style="display: flex; justify-content: space-around;">
            <div>
                <label for="fechaInicio">Inicio</label>
                <input 
                    type="date" 
                    name="fechaInicio"
                    formControlName="fechaInicio"
                >
                <div *ngIf="Inicio?.errors && Inicio?.touched" class="error">
                    <p *ngIf="Inicio?.hasError('required')">
                        El periodo de inicio es requerido
                    </p>
                </div>
            </div>
            <div>
            <label for="fechaFin">Fin</label>
                <input 
                    type="date" 
                    name="fechaFin"
                    formControlName="fechaFin"
                >
                <div *ngIf="Fin?.errors && Fin?.touched" class="error">
                    <p *ngIf="Fin?.hasError('required')">
                        El periodo de fin es requerido
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="form-control">
        <label for="imagen">Imagen</label>
        <input type="file" style="display: none;"
            (change)="onFileSelected($event)" #fileUpload>
        <div class="file-upload">
            <button mat-mini-fab color="primary" class="upload-btn"
                (click)="fileUpload.click()">
                <i class='bx bx-folder-plus'></i>
            </button>
            {{this.form.get("imagen")?.get("nombre")?.value || "No file uploaded yet."}}
        </div>
        <div *ngIf="Imagen?.errors && Imagen?.touched" class="error">
            <p *ngIf="Imagen?.hasError('required')">
                Una imagen es requerida
            </p>
        </div>
    </div>
    <input class="button-green" type="submit" [value]="experience.id != null ? 'Editar' : 'Agregar'" (click)="experience.id != null ? onEdit() : onAdd()">
</form>
