<section class="acerca_de">
    <div class="texto">
        <div class="titulo">
            <h2>01. Acerca de</h2>
            <div class="linea"></div>
            <i class='bx bx-edit editar'  (click)="onEdit()"></i>
        </div>
        <p>{{this.about.parrafo}}</p>
    </div>
    <app-form-about
        (onEditAbout)="editAbout($event)"
        (toggleEditAbout)="onEdit()"
        [parrafo] = "about.parrafo"
        [img]="about.img"
        [id] = "about.id"
    >   
    </app-form-about>
    <div class="imagen">
        <div class="linea1"></div>
        <div class="linea2"></div>
        <div class="linea3"></div>
        <div class="linea4"></div>
        <img [src]="this.imageSource" [alt]="this.about.img.titulo">
    </div>
</section>
