<div class="opcion_tomada">
    <h3> <strong>{{experience.titulo}}</strong> @ {{experience.empresa}} <img [src]="this.imageSource" [alt]="experience.img.titulo">
        <i *ngIf="this.isLogged" class='bx bx-edit editar' (click)="onEdit(experience)"></i>
        <i *ngIf="this.isLogged" class='bx bx-x borrar' (click)="onDelete(experience)"></i>
    </h3>
    <p> <i>{{getDate()}}</i> </p>
    <ul>
        <li *ngFor="let elem of experience.aprendizajes"> <i class='bx bxs-right-arrow' ></i> {{elem}}</li>
    </ul>
</div>