@media only screen and (max-width: 1000px)  {
    .contenedor {
        height: 350px!IMPORTANT;
    }
    .caja {
        width: 100%!IMPORTANT;
    }
    .caja h1 {
        font-size: 1.15rem!IMPORTANT;
        top: 20%!IMPORTANT;
    }
    .caja p {
        font-size: .75rem!IMPORTANT;
        top: 45%!IMPORTANT;
    }
    .fold::before {
        border-width: 0 75px 75px 0!IMPORTANT;
    }
}

header .contenedor {
    position: relative;
    width: 100%;
    height: 750px;
}

header .caja {
    position: relative;
    border-radius: 10px 0 0 0;
    width: 66%;
    height: 100%;
    background-color: #F9EFE7;
}

.fold {
    position: absolute;
    right: 0;
    top: 0;
    background: #fff
}

.fold::before {
    content:"";
    position: absolute;
    top: 0px;
    right: 0;
    border-style: solid;
    border-width: 0 150px 150px 0;
    border-color: #ddd #fdfffc;
}

.caja h1 {
    position: absolute;
    top: 15%;
    left: 5%;
}

.caja p {
    position: absolute;
    z-index: 1;
    top: 35%;
    left: 5%;
    font-family: 'Mulish', sans-serif;
    font-size: 1.25em;
    line-height: 1.5;
}

header .olas {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}