<div class="carta">
    <circle-progress
        class="chart"
        [percent]="skill.porcentaje"
        [radius]="this.radius"
        [outerStrokeWidth]="this.stokeWidth"
        [outerStrokeColor]="'#10b0b0'"
        [animation]="true"
        [animationDuration]="1000"
        [showInnerStroke]="false"
        [showSubtitle]="false"
        [titleFontSize]="this.titleFontSize"
        [unitsFontSize]="this.unitsFontSize"
        [renderOnClick]="false"
    ></circle-progress>
    <div class="cuerpo_carta">
        <div class="titulo">
            <h4>{{skill.titulo}}</h4>
            <i class='bx bx-edit editar'
                *ngIf="this.isLogged" (click)="onEdit(skill)"></i>
            <i class='bx bx-x borrar'
                *ngIf="this.isLogged" (click)="onDelete(skill)"
            ></i> 
        </div>
        <p class="parrafo">{{skill.parrafo}}</p>
    </div>
</div>
