@media only screen and (max-width: 1000px)  {
    .proyecto img {
        max-width: 200px!IMPORTANT;
        max-height: 100px!IMPORTANT;
        min-height: 100px!IMPORTANT;
    }
    .lista_lenguajes {
        gap: .5em!IMPORTANT;
        font-size: .55rem!IMPORTANT;
    }
    .lista_links i {
        font-size: .75rem!IMPORTANT;
    }
    .proyecto .contenido {
        padding: 1em 0!IMPORTANT;
    }
    .proyecto .contenido p {
        font-size: .65rem;
        padding: .5em!IMPORTANT;
        width: 75%!IMPORTANT;
    }
    h3 .editar {
        font-size: 0.75rem!IMPORTANT;
    }
    
    h3 .borrar {
        margin-left: 0.15em!IMPORTANT;
        font-size: 0.75rem!IMPORTANT;
    }
}
.proyecto {
    position: relative;
    margin-top: 2em;
}

.proyecto .contenido {
    padding: 2em 0;
}

.proyecto .contenido > * {
    margin-bottom: 1em;
}

.proyecto .contenido p {
    word-wrap: break-word;
    padding: 2em;
    width: 55%;
    background-color: #F9EFE7;
}

.impar .contenido p {
    margin-left: auto;
}

.proyecto img {
    max-width: 600px;
    max-height: 300px;
    min-height: 300px;
    height: auto;
    z-index: -1;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

.impar img{
    left: 0;
}

.lista_lenguajes {
    display: flex;
    gap: 1em;
}

.impar .lista_lenguajes {
    justify-content: right;
}

.lista_links :first-child {
    margin-right: .25em;
}

.lista_links i {
    font-size: 1.5rem;
    color: black;
}

h3 .editar {
    margin-left: 0.5em;
    font-size: 1.5rem;
    color: green;
    cursor: pointer;
}

h3 .borrar {
    margin-left: 0.25em;
    font-size: 1.5rem;
    color: red;
    cursor: pointer;
}