<section class="proyectos">
    <div class="titulo">
        <h2>05. Proyectos</h2>
        <div class="linea"></div>
    </div>
    <div class="lista_proyectos">
        <div class="proyecto impar">
            <img src="../../../assets/imagen_website.png" alt="Imagen Website">
            <div class="contenido">
                <h3> <strong>Website de Cocina</strong> </h3>
                <p>A web app for visualizing personalized Spotify data. View your top artists, top tracks, recently played tracks, and detailed audio information about each track. 
                    Create and save new playlists of recommended tracks based on your existing playlists and more.</p>
                <ul class="lista_lenguajes">
                    <li>HTML</li>
                    <li>Css</li>
                    <li>Bootstrap</li>
                    <li>JavaScript</li>
                    <li>Angular</li>
                </ul>
                <div class="lista_links">
                    <a href="https://github.com/Ationno"><i class='bx bxl-github' ></i></a>
                    <a href=""><i class='bx bx-link-external' ></i></a>
                </div>
            </div>
        </div>
        <div class="proyecto">
            <img src="../../../assets/imagen_website.png" alt="Imagen Website">
            <div class="contenido">
                <h3> <strong>Website de Educacion</strong> </h3>
                <p>A web app for visualizing personalized Spotify data. View your top artists, top tracks, recently played tracks, and detailed audio information about each track. 
                    Create and save new playlists of recommended tracks based on your existing playlists and more.</p>
                <ul class="lista_lenguajes">
                    <li>HTML</li>
                    <li>Css</li>
                    <li>Bootstrap</li>
                    <li>JavaScript</li>
                    <li>Angular</li>
                </ul>
                <div class="lista_links">
                    <a href="https://github.com/Ationno"><i class='bx bxl-github' ></i></a>
                    <a href=""><i class='bx bx-link-external' ></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
