@media only screen and (max-width: 1000px)  {
    .proyectos {
        margin: 5% 10% 0 10%!IMPORTANT;
    }    
    .titulo i {
        font-size: 1rem!IMPORTANT;
    }
}
.proyectos {
    margin: 15% 20% 0 20%;
}

.lista_proyectos {
    margin-top: 2em;
}

.lista_proyectos .impar {
    text-align: right;
}

.titulo i {
    margin-left: auto;
    align-self: center;
    color: green;
    font-size: 1.75rem;
    cursor: pointer;
}