<form 
    *ngIf="showAddSkill"
>
    <i class='bx bx-x' (click)="cerrar()"></i>
    <h1>{{showEdit ? 'Editar' : 'Agregar'}} Habilidad</h1> 
    <div class="form-control">
        <label for="titulo">Titulo de habilidad</label>
        <input 
            type="text" 
            name="titulo" 
            id="titulo" 
            placeholder="Agregar titulo"
            [(ngModel)]="titulo"
            [value] = "titulo"
        >
    </div>
    <div class="form-control">
        <label for="parrafo">Parrafo de explicacion</label>
        <textarea 
            type="text"  
            name="parrafo" 
            id="parrafo" 
            placeholder="Agregar parrafo"
            [(ngModel)]="parrafo"  
            [value] = "parrafo"  
            cols="30" rows="5"
            maxlength="300"
        ></textarea>
    </div>
    <div class="form-control">
        <label for="porcentaje">Porcentaje</label>
        <input 
            type="number" 
            name="porcentaje" 
            id="porcentaje" 
            ngValue=12
            placeholder="Agregar porcentaje"
            [(ngModel)]="porcentaje"
            [value]="porcentaje"
        >
    </div>
    <div class="form-control" *ngIf="!showEdit">
        <label for="choice">Tipo de habilidad</label>
        <select [(ngModel)]="eleccion" id="choice" name="eleccion">
            <option [ngValue]="'Soft'" value="Soft">Soft Skill</option>
            <option [ngValue]="'Hard'" value="Hard">Hard Skill</option>
        </select>
    </div>
    <input *ngIf="!showEdit" class="button-green" type="submit" value="Agregar" (click)="add()">
    <input *ngIf="showEdit" class="button-green" type="submit" value="Editar" (click)="edit()">
</form>
