<section class="educacion">
    <div class="titulo">
        <h2>03. Educacion</h2>
        <div class="linea"></div>
    </div>
    <ul class="lista_educacion">
        <li>
            <img src="../../../assets/logo mc.png" alt="Logo McDonalds"> 
            <div class="texto">
                <h3><strong>Estudios Secundarios y Primarios </strong> <i> - Escuela Normal N°1</i></h3>
                <p> <i>May 2013 - May 2014</i> </p>
            </div>	
        </li>
        <li>
            <img src="../../../assets/logo mc.png" alt="Logo McDonalds"> 
            <div class="texto">
                <h3><strong>Lic. en Informática </strong> <i> - Universidad Nacional de la Plata</i></h3>
                <p> <i>May 2013 - May 2014</i> </p>
            </div>	
        </li>
        <li>
            <img src="../../../assets/logo mc.png" alt="Logo McDonalds"> 
            <div class="texto">
                <h3><strong>Front & End Web Developer</strong> <i> - Argentina Programa</i></h3>
                <p> <i>May 2013 - May 2014</i> </p>
            </div>	
        </li>
    </ul>
</section>
