<section class="educacion">
    <div class="titulo">
        <h2>03. Educacion</h2>
        <div class="linea"></div>
        <i class='bx bx-plus' (click)="toggleAddEducation()"></i>
    </div>
    <app-form-education
        (onAddEducation)="addEducation($event)"
        (onEditEducation)="editEducation($event)"
        (toggleAddEducation)="toggleAddEducation()"
        [titulo] = "educationEdit.titulo"
        [institucion] = "educationEdit.institucion"
        [periodo] = "educationEdit.periodo"
        [img]="educationEdit.img"
        [id] = "educationEdit.id"
    >
    </app-form-education>
    <ul class="lista_educacion">
        <app-education-element *ngFor="let education of educations"
            [education] = "education"
            (onDeleteEducation)="deleteEducation(education)"
            (onEditFormEducation)="editToFormEducation(education)"
        >
        </app-education-element>
    </ul>
</section>
