<section class="educacion">
    <div class="titulo">
        <h2>03. Educacion</h2>
        <div class="linea"></div>
        <i *ngIf="this.isLogged" class='bx bx-plus' (click)="toggleFormEducation()"></i>
    </div>
    <app-form-education
        (onAddEducation)="addEducation($event)"
        (onEditEducation)="editEducation($event)"
        (onToggleFormEducation)="toggleFormEducation()"
        [education]="education"
    >
    </app-form-education>
    <ul class="lista_educacion">
        <app-education-element *ngFor="let education of educations"
            [education] = "education"
            (onDeleteEducation)="deleteEducation(education)"
            (onEditEducation)="editFormEducation(education)"
        >
        </app-education-element>
    </ul>
</section>
