<section class="habilidades">
    <div class="titulo">
        <h2>04. Hard & Soft Skills</h2>
        <div class="linea"></div>
    </div>
    <div class="cartas">
        <h3>Soft Skills</h3>
        <div class="contenido">
            <app-skill-element 
                *ngFor="let skill of skills" 
                [skill] = "skill"
                (onDeleteSkill)="deleteSkill(skill)"
            >
            </app-skill-element>
        </div>
        <h3>Hard Skills</h3>
        <div class="contenido">
            <app-skill-element 
                *ngFor="let skill of skills" 
                [skill] = "skill"
            >
            </app-skill-element>
        </div>		
    </div>
</section>