@media only screen and (max-width: 1000px)  {
    .habilidades {
        margin: 5% 10% 0 10%!IMPORTANT;
    }
    .titulo i {
        font-size: 1rem!IMPORTANT;
    }
    .cartas .contenido {
        grid-template-columns: repeat(auto-fit, minmax(100px, 100px))!IMPORTANT;
        gap: 1em!IMPORTANT;
    }
    .cartas {
        margin-top: 1em!IMPORTANT;
    }
}
.habilidades {
    margin: 15% 20% 0 30%;
}

.titulo i {
    margin-left: auto;
    align-self: center;
    color: green;
    font-size: 1.75rem;
    cursor: pointer;
}

.cartas {
    margin-top: 2em;
}

.cartas h3 {
    margin: 1em 0;
    text-align: center;
}

.cartas .contenido {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 250px));
    gap: 2em;
}