<section class="experiencia">
    <div class="titulo">
        <h2>02. Experiencia</h2>
        <div class="linea"></div>
    </div>
    <div class="contenido">
        <ul class="lista_trabajos">
            <li>McDonalds</li>
            <li>Apple</li>
            <li>Starbucks</li>
            <li>Mostaza</li>
        </ul>
        <div class="opcion_tomada">
            <h3> <strong>Ingeniero </strong> @ McDonalds <img src="../../../assets/logo mc.png" alt="Logo McDonalds"></h3>
            <p> <i>May 2013 - May 2014</i> </p>
            <ul>
                <li> <i class='bx bxs-right-arrow' ></i> Fast-forward to today, and I’ve had the privilege of working at an advertising agency, a start-up, a huge corporation, and a</li>
                <li> <i class='bx bxs-right-arrow' ></i> Fast-forward to today, and I’ve had the privilege of working at an advertising agency, a start-up, a huge corporation, and a</li>
                <li> <i class='bx bxs-right-arrow' ></i> Fast-forward to today, and I’ve had the privilege of working at an advertising agency, a start-up, a huge corporation, and a</li>
            </ul>
        </div>
    </div>
</section>
