<section class="experiencia">
    <div class="titulo">
        <h2>02. Experiencia</h2>
        <div class="linea"></div>
        <i class='bx bx-plus' (click)="toggleFormExperience()"></i>
    </div>
    <app-form-experience
        (onAddExperience)="addExperience($event)"
        (onEditExperience)="editExperience($event)"
        (onToggleFormExperience)="toggleFormExperience()"
        [experience]="experienceEdit"
    ></app-form-experience>
    <div class="contenido">
        <ul class="lista_trabajos">
            <li *ngFor="let elem of experiences; first as isFirst" [ngClass]="{'clicked': elem.empresa == this.experienceChosen.empresa}" (click)="choseExperience(elem.empresa)">{{elem.empresa}}</li>
        </ul>
        <app-experience-element *ngIf="!this.noExperience"
            [experience] = "experienceChosen"
            (onDeleteExperience)="deleteExperience($event)"
            (onEditExperience)="editFormExperience($event)"
        ></app-experience-element>
    </div>
</section>
